<%- include('partials/header') %>
<%-include('partials/navbar')%>
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

<style>

</style>
<div class="container py-4">
    <div class="row d-flex justify-content-center">
      <div class="col col-11 col-sm-6 order-2 order-xs-1 pt-4 text-start text-white">
        <h1 class="display-5 fw-bold"><%=name%></h1>
        <h2><%=formula%></h2> 
        <p></p>
      </div>

      <div class="col col-11 col-sm-6 order-1 order-xs-2">
        <div class="moleculeViewer" style = "height: 70vh">
          <iframe  class = "rounded bg-darker" src = "/moleculeviewer/<%=item%>" width = "100%" height="100%" frameborder="0"></iframe>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<script>
  let pubchemURL = "https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/cid/<%=item%>/property/MolecularFormula,MolecularWeight,IUPACName,Title/JSON";
  
  function getMoleculeURL(URL){
    fetch(URL)
        .then(response => response.text())
        .then(molFile => {
            console.log(molFile);
        });
    }

    console.log(getMoleculeURL(pubchemURL));
</script>

<%- include('partials/footer') %>

